[submodule "db/rocksdb"]
	path = db/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "db/leveldb"]
	path = db/leveldb
	url = https://github.com/google/leveldb
[submodule "db/forestdb"]
	path = db/forestdb
	url = https://github.com/couchbase/forestdb
[submodule "db/wiredtiger"]
	path = db/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger
[submodule "db/lmdb"]
	path = db/lmdb
	url = http://www.openldap.org/software/repo/openldap.git
	branch = mdb.master
[submodule "db/sophia"]
	path = db/sophia
	url = https://github.com/pmwkaa/sophia
[submodule "db/nessdb"]
	path = db/nessdb
	url = https://github.com/BohuTANG/nessDB.git
[submodule "db/mdbx"]
	path = db/mdbx
	url = https://github.com/leo-yuriev/libmdbx.git
[submodule "db/ejdb"]
	path = db/ejdb
	url = https://github.com/Softmotions/ejdb.git
[submodule "db/vedis"]
	path = db/vedis
	url = https://github.com/symisc/vedis.git
